<ion-content>
  <div class="blok">
    <div class="form">
      <div class="logo">
        <img src="assets/img/stockLogin.png">
      </div>

      <ion-item class="form-input">
        <ion-icon name="person-outline"></ion-icon>
        <ion-input placeholder="Username" type="text" [(ngModel)]="login.name"></ion-input>
      </ion-item>

      <ion-item class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input placeholder="Password" type="password" [(ngModel)]="login.pass"></ion-input>
      </ion-item>

      <ion-button class="form-button" fill="clear" expand="full" (click)="adminLogin()">Sign In</ion-button>
    </div>
  </div>
</ion-content>
