ion-content{
    --background: #f1f5f8;
    .head{
        color: white;
        text-align: center;
        background-color:#F4B41B;
    }
    
    .blok{
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column;
    }
    
    .form{
        flex-grow: 1;
        width: 100%;
        padding: 0 20%;
    
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        ion-item, ion-button{
            --min-height: 0;
            margin: 0.6em 0;
            width: 100%;
            ion-icon{
                margin-right: 0.2em;
            }
        }
        .logo{
            img{
                margin: 0.5em 0;
            }
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
        }
        .form-input{
            border: solid 1.5px;
            border-radius: 1em;
            --highlight-color-focused: none;
            --highlight-color-valid: none;
            --highlight-color-invalid: none;
        }
        .form-button{
            background-color: #F4B41B;
            border-radius: 1em;
            color: white; 
        }
        .reg-buttons{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
        }
    }
}
