<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismiss()" style="padding-right: 4%;">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Filter</ion-title>
    <ion-buttons slot="end" (click)="dismiss()" style="padding-right: 4%;">Reset</ion-buttons>
  </ion-toolbar>
  
  <ion-list>
      <ion-list-header >
        <h5>Stock Quantity</h5>
      </ion-list-header>
      <div class="scroll" scrollX="true">
        <ion-item *ngFor="let qty of quantityList" 
        (click)="filterQty(qty.value)"
        [ngClass]="{'active': selectedQtyVal == qty.value}">
          <ion-label>{{qty.name}}</ion-label>
        </ion-item>
      </div>
  </ion-list>

  <ion-list *ngFor = "let diameterPar of diameterList">
      <ion-list-header >
        <h5>{{diameterPar.parent.name}}</h5>
      </ion-list-header>
      <div class="scroll" scrollX="true">
        <ion-item *ngFor="let diameterChild of diameterPar.children" 
        (click)="filterAttr(diameterPar.parent.slug, diameterChild.id)"
        [ngClass]="{'active': selectedDiameter == diameterChild.id}">
          <ion-label>{{diameterChild.name}}</ion-label>
        </ion-item>
      </div>
  </ion-list>

  <ion-list *ngFor = "let etPar of etList">
      <ion-list-header >
        <h5>{{etPar.parent.name}}</h5>
      </ion-list-header>
      <div class="scroll" scrollX="true">
        <ion-item *ngFor="let etChild of etPar.children" 
        (click)="filterAttr(etPar.parent.slug, etChild.id)"
        [ngClass]="{'active': selectedEt == etChild.id}">
          <ion-label>{{etChild.name}}</ion-label>
        </ion-item>
      </div>
  </ion-list>

  <ion-list *ngFor = "let spekPar of spesifikasiList">
      <ion-list-header >
        <h5>{{spekPar.parent.name}}</h5>
      </ion-list-header>
      <div class="scroll" scrollX="true">
        <ion-item *ngFor="let spekChild of spekPar.children" 
        (click)="filterAttr(spekPar.parent.slug, spekChild.id)"
        [ngClass]="{'active': selectedSpek == spekChild.id}">
          <ion-label>{{spekChild.name}}</ion-label>
        </ion-item>
      </div>
  </ion-list>

  <ion-list *ngFor = "let tireSpekPar of tireSpekList">
      <ion-list-header >
        <h5>{{tireSpekPar.parent.name}}</h5>
      </ion-list-header>
      <div class="scroll" scrollX="true">
        <ion-item *ngFor="let tireSpekChild of tireSpekPar.children" 
        (click)="filterAttr(tireSpekPar.parent.slug, tireSpekChild.id)"
        [ngClass]="{'active': selectedTireSpek == tireSpekChild.id}">
          <ion-label>{{tireSpekChild.name}}</ion-label>
        </ion-item>
      </div>
  </ion-list>

  <ion-list *ngFor = "let widthPar of widthList">
      <ion-list-header>
        <h5>{{widthPar.parent.name}}</h5>
      </ion-list-header>
      <div class="scroll" scrollX="true">
        <ion-item *ngFor="let widthChild of widthPar.children" 
        (click)="filterAttr(widthPar.parent.slug, widthChild.id)"
        [ngClass]="{'active': selectedWidth == widthChild.id}">
          <ion-label>{{widthChild.name}}</ion-label>
        </ion-item>
      </div>
  </ion-list>

  <ion-footer>
    <ion-toolbar>
      <ion-button expand="block" class="tampilBtn" (click)="submitModal()">tampilkan</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
