ion-title{
    text-align:center;
}

ion-item{
    // float: left;
    margin-left: 10%;
    // --background-activated:#F4B41B;
    --background:grey;
    --border-radius:10%;
    --color: white;
    display: inline-block;
}

    
.scroll{
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    // overflow: hidden;
    // ion-item{
    //     overflow-x: auto;
    // }
}


.btnClick{
    color : navy !important;
}

.active{
    --background : #F4B41B;
}

.tampilBtn {
    // position: fixed;
    // bottom: 10px;
    --background: #F4B41B;
}