<ion-app>

  <ion-menu menuId="main-menu" content-id="main">
    <ion-content>
      <div class="tes">
        <ion-title>Account Info</ion-title>
        <ion-card>
          <img src="https://eitrawmaterials.eu/wp-content/uploads/2016/09/person-icon.png">
          <ion-label>{{loginUser}}</ion-label>
        </ion-card>
      </div>

      <ion-button fill="clear" color="danger" (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-button>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>
