ion-content{
    --background:#f1f5f8;
    ion-title{
        text-align: center;
        color: #0c3454;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .tes{
        background:rgba(244, 180, 27, 0.8);
        padding: 10px 10px 15px 10px;
        border-radius: 0 0 20px 20px;
    }
    ion-card{
        border-radius: 10px;
        margin-top: 8%;
        img{
            height: 100%; width: 100%;
            border: 4px solid #d4d4d4;
            border-radius: 50%;
            margin-top: 7%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 128px;
            width: 128px;
            min-width: 128px;
        }
        ion-label{
            color: darkgray;
            // text-transform: uppercase;
            font-weight: 450;
            font-size: medium;
            padding-top: 8%;
            padding-bottom: 7%;
            display: block;
            text-align: center;
        }
    }
    ion-button{
        position: fixed;
        left: 0;
        bottom: 10px;
        right: 0;
    }
}
