<ion-header class="head">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismiss()">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="{{data.images[0].src}}">
    <ion-card-header>
      <ion-card-subtitle><b>stock : {{data.stock_quantity}}</b></ion-card-subtitle>
      <ion-card-title>{{data.name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list *ngFor="let data of data.attributes">
        <ion-item>
          <ion-label>{{data.name}} : {{data.options}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
