ion-title{
  text-align: center;
  margin-right: 17%;
}

ion-toolbar{
  --background: #F4B41B;
  color: #143d59;
}

ion-card{
    img{
       padding-left: 3%;
       padding-right: 3%;
       padding-top: 3%;
    }
    ion-card-subtitle{
       color: red;
    }
}