<ion-header class="ion-no-border">

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-buttons>
          <ion-button class="bordered" fill="solid" color="light" (click)="mainMenu()">
            <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
        <!-- <ion-menu-button menu="main-menu"></ion-menu-button> -->
      </ion-col>
      <ion-col>
        <img src="assets/img/stock.png" alt="">
      </ion-col>
      <ion-col size="2">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-searchbar [(ngModel)]="search" debounce={500} showCancelButton="never" (ionChange)="reload()"
  (ionClear)="clearSearch()" animated></ion-searchbar>
     
</ion-header>

<ion-content>
  
  <div class="body">
    <ion-card *ngFor="let data of listProduk ; let idx = index">
      <ion-item lines="none">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <img src="{{data.images[0].src}}">
            </ion-col>
            <ion-col size="7">
              <ion-label class="ion-text-wrap">
                <h4>{{data.name}}</h4>
                <h6>Stock  : {{data.stock_quantity}}</h6>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button class="right" fill="clear" (click)="modalDetail(idx)">
          Detail
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>

    <ion-list></ion-list>
      <ion-infinite-scroll (ionInfinite)="loadMore($event)" threshold="200px">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentModal()">
    <ion-fab-button>
      <ion-icon name="filter-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

    
</ion-content>
