ion-header{
  background-color:#f1f5f8;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
  .bordered {
    margin-top: 30%;
    --border-radius: 10px;
    --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
  }
  ion-icon{
    color: #143d59;
  }
  img{
    max-width: 65%;
    display: block;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
  }
}

ion-content{
  --background:#f1f5f8;
  .body{
    background:rgba(244, 180, 27, 0.8);
    padding: 10px 10px 15px 10px;
    border-radius: 20px 20px 0 0;
  }
  ion-card{
    --background:#f1f5f8;
    padding-top: 0.5%;
    padding-bottom: 1.5%;
    border-radius: 8px;
    ion-item{
    --background:#f1f5f8;
    }
    ion-label {
      position: absolute;
      padding: 0;
      h4 {
        font-weight: 600;
      }
      }
      h6 {
        color: rgba(255, 0, 0, 0.66);
      }
    }
  .right {
    color: black;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1%;
  }
  img{
    border-radius: 8px;
  }
  ion-list{
    width: 0;
    height: 0;
  }
  ion-fab-button{
    --background:#f1f5f8;
    --color: #143d59;
  }
}


